---
---

.home-title-middle-outer {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.home-title-middle {
  width: 100%;
  text-align: center;
}
