---
layout: default
---

<div class="home-title-middle-outer">
  <div class="home-title-middle">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
    <p><small>Contribute your idea of what PoiScript would look like by submitting an issue or merge request to <a href="https://gitlab.com/FiveYellowMice/www.poiscript.com">the project repository</a>.</small></p>
  </div>
</div>
