<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="theme-color" content="#FFF0D9">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?fc={{ site.data.fc_tokens.favicon }}" type="image/x-icon" sizes="16x16">
  <link rel="icon" href="{{ site.baseurl }}/favicon-128.png?fc={{ site.data.fc_tokens.favicon }}" type="image/png" sizes="128x128">
  <link rel="icon" href="{{ site.baseurl }}/favicon-196.png?fc={{ site.data.fc_tokens.favicon }}" type="image/png" sizes="196x196">
  <link rel="icon" href="{{ site.baseurl }}/favicon-512.png?fc={{ site.data.fc_tokens.favicon }}" type="image/png" sizes="512x512">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon-128.png?fc={{ site.data.fc_tokens.favicon }}" type="image/png" sizes="128x128">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon-196.png?fc={{ site.data.fc_tokens.favicon }}" type="image/png" sizes="196x196">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon-512.png?fc={{ site.data.fc_tokens.favicon }}" type="image/png" sizes="512x512">

  <script>
  if (window.location.host === '{{ site.domain }}' && window.location.protocol !== 'https:') {
    window.location = window.location.toString().replace(/^http:/, "https:")
  }
  </script>

  <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/normalize-css/normalize.css?fc={{ site.data.fc_tokens.normalize_css }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?fc={{ site.data.fc_tokens.main_css }}">
</head>
